:80 {
    @acme path /.well-known/acme-challenge/*
    handle @acme {
        root * /var/www/certbot
        file_server
    }
    handle {
        redir https://{host}{url} permanent
    }
}

api-staging.neighbourhoodwatchdog.co.za {
    reverse_proxy backend:8000
}

stream-staging.neighbourhoodwatchdog.co.za {
    reverse_proxy mediamtx:8889
}