KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=frames
AWS_BUCKET_NAME=watchdog-bucket
AWS_REGION=af-south-1
DB_URL=postgresql://user:password@localhost:5432/watchdog
CONFIDENCE_THRESHOLD=0.5
WATCHDOG_TEST_RTSP_URL=your-new-rtsp-url

TRACKING_MAX_AGE=10
TRACKING_N_INIT=3
TRACKING_MAX_IOU_DISTANCE=0.5